  <mat-stepper orientation="vertical" linear="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>First Step</ng-template>
        <h1>Select courses to enroll in.</h1>
        <!-- Home component with list of courses -->
        <app-home></app-home>

        <!-- <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>

        </mat-form-field> -->
        <h1>
          This is the list of selected courses
        </h1>
        <mat-form-field appearance="fill">

        <mat-chip-list
        class="example-chip"
        cdkDropList 
        cdkDropListOrientation="horizontal"
        >
        
        <mat-chip
        formControlName="selectedCourseFrm"
          color="primary"
          class="example-box"
          cdkDrag
          #coursenm
          *ngFor="let course_select of selected_courses; index as i"
          >
          {{course_select}}
          <button 
            mat-icon-button 
            (click)="remove_from_list(coursenm)"
            ><mat-icon>close</mat-icon></button>
        </mat-chip>
        </mat-chip-list>

        <mat-error>
          Please select at least 1 course
        </mat-error>
        </mat-form-field>


        <div>
           <p>
               When you have selected the courses you need click
           </p> 
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your details</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Full name</mat-label>
          <input matInput formControlName="secondCtrl"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  