<mat-card style="height:500px; background-color: indigo;">
    <mat-grid-list cols="1" rowHeight="500px">
        <mat-grid-tile>
            <mat-card-header>
                <mat-card-title>
                    <h1
                     style="font-size: 35px; color:white; text-align: center;">
                     <b>
                         "RESPECT THE CODEMASTER'S"
                        </b>
                    </h1>
                </mat-card-title>
            </mat-card-header>            
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>

<mat-grid-list 
    [cols]="breakpoint" 
    rowHeight="300px" 
    gutterSize="0" 
    (window:resize)="onResize($event)"
    >
    <mat-grid-tile>
        <mat-card 
            style="background-color: white;"
            class="card">
            <mat-card-actions>

                <button 
                onclick="window.open('https://m.facebook.com/danver.kanyemba')"
                    mat-fab 
                    color="">
                    <mat-icon>
                        facebook
                    </mat-icon>
                </button>

            <br><br>
            
            <button
            onclick="window.open('https://wa.me/+263784017784?')" 
            mat-fab 
            color="">
            <mat-icon>
                whatsapp
            </mat-icon>
        </button>
        
    <br><br>
    
    <button 
    mat-fab 
    color="">
    <mat-icon>
        email
    </mat-icon>
</button> danverkanyemba33@gmail.com
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card 
            style="background-color: white;"
            class="card">
            <mat-card-header>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    
</mat-grid-list>
<div style="text-align: center;">

    <app-boxes></app-boxes>
</div>

<mat-card 
style="background-color: indigo; border-radius: 0%;">
<mat-card-header>
    <mat-card-subtitle  
    style="text-align: right; color: white;">
    <span>
        2021 {{ websiteName }}
           </span> 
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>