<mat-card
  style="
    height: 500px;
    background-color: black;
    color: white;
    border-radius: 0%;
  "
>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <mat-card-header>
        <mat-card-title>
          <h1 style="font-size: 35px; color: white; text-align: center">
            <b> "RESPECT THE CODEMASTER'S" </b>
          </h1>
        </mat-card-title>
      </mat-card-header>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<br /><br />
<!-- app boxes svg -->


<mat-grid-list
  [cols]="breakpoint"
  rowHeight="370px"
  gutterSize="0"
  (window:resize)="onResize($event)"
>
  <mat-grid-tile>
    <mat-card style="background-color: white" class="card">
      <mat-card-header>
        <mat-card-title> Contact us </mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button
          onclick="window.open('https://m.facebook.com/danver.kanyemba')"
          mat-raised-button
          style="
            padding: 10px;
            margin: 10px;
            border: 1px solid grey;
            width: 120px;
            border-bottom: 3px solid indigo;
          "
        >
          Facebook

          <mat-icon> facebook </mat-icon>
        </button>
        <button
          onclick="window.open('https://wa.me/+263784017784?')"
          mat-raised-button
          style="
            padding: 10px;
            margin: 10px;
            border: 1px solid grey;
            width: 120px;
            border-bottom: 3px solid indigo;
          "
        >
          Whatsapp

          <mat-icon> whatsapp </mat-icon>
        </button>

        <button
          mat-raised-button
          style="
            padding: 10px;
            margin: 10px;
            border: 1px solid grey;
            width: 250px;
            border-bottom: 3px solid indigo;
          "
        >
          Email

          <mat-icon> email </mat-icon>
          danversoft@gmail.com
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="background-color: white" class="card">
      <mat-card-header>

      </mat-card-header>
      <mat-card-content>
        <mat-card-title> Frameworks Prefered by us: </mat-card-title>
        <mat-divider>
        </mat-divider>
        <br>
          <mat-card-subtitle style="color: black;"> Angular </mat-card-subtitle>
          <mat-card-subtitle style="color: black;"> Vue.js </mat-card-subtitle>
          <mat-card-subtitle style="color: black;"> Laravel </mat-card-subtitle>
          <br>

        <mat-card-title>Sponsored Links</mat-card-title>
        <mat-divider>
        </mat-divider>
        <button mat-button onclick="window.open('https://my.webdev.co.zw/aff.php?aff=328')">Webdev <span style="margin-left: 50px; color: indigo;">Hosting Services</span> </button>
        <button mat-button onclick="window.open('https://my.webdev.co.zw/aff.php?aff=328')">Webdev <span style="margin-left: 50px; color: indigo;">Web Development</span> </button>
        <button mat-button onclick="window.open('https://my.webdev.co.zw/aff.php?aff=328')">Webdev <span style="margin-left: 50px; color: indigo;">Online payments</span> </button>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



<div style="background-color: black; padding: 20px">
  <b>
    <p style="text-align: center; color: white; width: 100%">
      2022 {{ websiteName }} <span style="color: indigo"> Proudly Zimbabwean</span>
    </p>
    <br />
  </b>
</div>
