.flexExpand {
    flex: 1 1 auto;
  }

.active {
  color:rgb(149, 0, 255)
}
.mat-h1{
  font-size: 30px;
}

.mat-title-act{
  color: white;
}

.topnavtoolbar{
  background-image: url('/../assets/backgroundwhite.svg');
  background-size: cover;
  background-position: center;
  border-radius: 10px
}

body {
  padding: 0;
  margin: 0;
}

