/* .line-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
} */

/* svg {
  display: inline-block;
  height: 100%;
} */

.active {
  color: indigo;
  border-bottom: white 3px solid;
  border-radius: 0%;
}

.active2 {
  color: indigo;
  background-color: black;
  border-radius: 20px;
}
.mat-h1 {
  font-size: 30px;
}

.mat-title {
  color: white;
}

.mat-title2 {
  color: indigo;
}

.topnavtoolbar {
  background-image: url("/../assets/backgroundformenu.svg");
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}
