.flexExpand {
  flex: 1 1 auto;
}

.active {
  color: indigo;
  background-color: black;
  border-radius: 20px;
}

.active2 {
  color: indigo;
  background-color: black;
  border-radius: 20px;
}
.mat-h1 {
  font-size: 30px;
}

.mat-title {
  color: white;
}

.mat-title2 {
  color: indigo;
}

.topnavtoolbar {
  background-image: url("/../assets/backgroundformenu.svg");
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}
