<button mat-button 
routerLink="XtraCourse"
>
  <img
    src="/../assets/XC.svg"
    alt=""
    />
      <span @slide style="color: indigo;" class="mat-h1">
        {{ website_Name }}
      </span>
</button>

<div class="body2" style="display: flex" routerLink="XtraCourse">
</div>
<div class="body2">
  <!-- toolbar with navigation links-->
  <mat-toolbar class="topnavtoolbar">
    <mat-toolbar-row>
      <span class="flexExpand"> </span>
      <!-- matBadge="{{selected_course2}}" -->
      <button mat-icon-button         
        [matMenuTriggerFor]="cart"
        matBadgeColor="accent">
        <mat-icon style="color: white;">shopping_cart</mat-icon>
      </button>

      <mat-menu #cart="matMenu">

          <mat-chip-list
            class="example-chip"
            cdkDropList
            cdkDropListOrientation="horizontal"
          >
            <mat-chip
              formControlName="selectedCourseFrm"
              color="primary"
              class="example-box"
              cdkDrag
              #coursenm
              *ngFor="let course_select of selected_courses_list; index as i"
            >
              {{ course_select }}
              <button mat-icon-button (click)="remove_from_list(coursenm)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
  
        </mat-menu>


      <button
        mat-button
        routerLink="XtraCourse/courses/list"
        class="mat-title"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Courses
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon style="color: white">grain</mat-icon>
      </button>

      <mat-menu #menu="matMenu" style="padding: 0%">
        <button
          mat-menu-item
          (click)="openDanversoftOfficial()"
          class="mat-title2"
        >
          DanverSoft Software website
        </button>

        <button
          *ngIf="(afAuth.authState | async) === null"
          mat-menu-item
          (click)="signIn()"
          class="mat-title2"
          routerLinkActive="active2"
          color="primary"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Login with Google
        </button>
      </mat-menu>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="afAuth.user | async as user">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        {{ user.displayName }}
      </button>

      <mat-menu #menu="matMenu">
        <button
          mat-button
          *ngIf="afAuth.authState | async"
          (click)="signOut()"
          class="mat-title"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon>logout</mat-icon>
          Sign Out
        </button>
      </mat-menu>

      <button
        mat-button
        routerLink="admin/pricing"
        class="mat-title"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Admin price
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<br />
<br />
<br />
<div class="line-container">
</div>
<!-- for SPA -->
<router-outlet></router-outlet>
<!-- footer -->

<app-footerdown></app-footerdown>
