.flexExpand {
    flex: 1 1 auto;
  }

.active {
  color:indigo;
  background-color: black;
  border-radius: 20px;
  
}
.mat-h1{
  font-size: 30px;
}

.mat-title{
  color: white;
}

.topnavtoolbar{
  background-image: url('/../assets/backgroundwhite.svg');
  background-size: cover;
  background-position: center;
  border-radius: 10px
}

body {
  padding: 0;
  margin: 0;
}

