<mat-grid-list [cols]="breakpoint" rowHeight="350px">

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title style="max-width: 320px;">
          <b>
            Developers, Designers, Engineers and other geniuses enjoy your time with us.
          </b>
        </mat-card-title>
        <mat-card-subtitle>
          <p>
            Our courses start from as little as USD $10.00
          </p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card class="mat-card-without-border">
        <mat-card-header>
          <mat-card-title>
            <h1 style="font-size: 40px; color: black">
              <b> Unlimited education </b>
            </h1>
          </mat-card-title>
  
          <mat-card-subtitle>
            <p>
              <br />
              Develop your talents by taking courses from the greatest geniuses in
              the world. We teach you to become the best in the field
            </p>
          </mat-card-subtitle>
        </mat-card-header>
  
        <mat-card-actions>
          <br />

          <button mat-button routerLink="courses/list">
            
            <button mat-fab color="primary">
              <mat-icon> arrow_forward </mat-icon>
            </button>
            Show cources for learning
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card 
    (window:resize)="onResize($event)"
    style=" background-image: url('/../assets/IMG-20211129-WA0005SVG.svg');
      background-position: center;
       background-repeat: no-repeat;
       background-size: contain; width: 100%; height: 100%; text-align: center">
      <mat-card-header>

      </mat-card-header>
      <mat-card-content>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="mat-card-without-border">
      <mat-card-header>
        <mat-card-title>
          <h1 style="color: black; font-size: 30px;">
            <b>
              Hi, I am Danver Kanyemba
            </b>
          </h1>
        </mat-card-title>
        <mat-card-subtitle>
          <p>
            I am an instructor for some of the courses on XtraCourse. 
          </p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
<mat-card class="mat-card-without-border">
  <mat-card-content>
    <button
      mat-button
      style="color: white; background-color: indigo; border-radius: 20px"
    >
      We currently do not offer certificates</button
    ><br /><br />
  </mat-card-content>
</mat-card>
