<h1 style="font-size: 30px; color: rgb(31, 31, 31);" #courseTitle> 
    <b>
        {{courses_list[index_num].title}}
    </b>     
</h1>              

<mat-divider>
</mat-divider>

<mat-dialog-content>
    
    
    <div
    style="border: 2px solid indigo; padding: 10px;"
    >    
    
    <h2>
        Discover
    </h2>
    
    <span 
    *ngFor="let course_discover of courses_list[index_num].discover" 
    style="font-size: medium;"> 
    <p>
        <mat-icon style="color: indigo;">psychology_sharp</mat-icon>
        
        {{course_discover}}        
    </p> 
</span>

<h1>Skills Set</h1>
<mat-chip-list
class="example-chip"
          cdkDropList 
          cdkDropListOrientation="horizontal"
          >
          <mat-chip
          class="example-box"
            cdkDrag
            *ngFor="let course_skill of courses_list[index_num].skill">
            {{course_skill}}
          </mat-chip>
          <br>
        </mat-chip-list>
        
        <h1>
            <b>
                This courses content
            </b>
        </h1>

        <h2>
            Hands-On Projects 
        </h2>
        <p *ngFor="let course_content of courses_list[index_num].courses_content" >
            {{ course_content }}
        </p>
        
        <h2>
            Instructor
            
        </h2>
        <div mat-card-avatar style="background-image: url({{courses_list[index_num].instructor_image}}); background-size: cover;" ></div>
        <p>{{courses_list[index_num].instructor}}</p>

</div>
</mat-dialog-content> 

<br>
<mat-dialog-actions>
    <button 
    mat-raised-button
    style="height: 50px;"
    color="accent"
    (click)="addCourse(courseTitle)"
    >
    Enroll for {{courses_list[index_num].price}}
</button> 
<button 
style="height: 50px;"
mat-button 
mat-dialog-close
>Cancel</button>
</mat-dialog-actions>
